html { 
    font-family: sans-serif; background: rgb(220, 235, 238);
    margin: 0;
}
body {
    font-size: medium; max-width: 100%;
    margin: 0;
}
header {
    display: flex; width: 100%; max-height: 1.2cm;
    background-color: burlywood;
}
header h1 {
    color: cornsilk; font-size: large; padding-left: 1cm;
}
nav {
    background-color:coral; align-items: center; 
    display: flex;
}
nav ul {
    display: flex; list-style: none; padding-left: 2mm;
}
nav li {
    padding: 5px;
}
section {
    margin-left: 8%; margin-right: 8%;
    margin-top: 5mm;
}
form {
    display: flex; flex-direction: column;
}
form input[type=submit] {
    width: 2cm;
}
table {
    width: 100%; margin: 4px;
}
a {
    color: beige; outline-color: cornsilk;
}