{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Comedores{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
    {% for head in heads %}
    <th>
        {{ heads[head] }}
    </th>
    {% endfor %}
    {% for comedor in comedores %}
    <tr>
        {% for head in heads %}
        <td>
            {% if head == "semana" %}
            {{ comedor[head].isocalendar()[1] }}
            {% else %}
            {{ comedor[head] }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}